<div>
    <>
        <a class="btn btn-primary" href="/home/bardasht">برداشت</a>
    <a class="btn btn-primary">واریز</a>
    <a class="btn btn-primary"href="/home/taghir">تغییر رمز</a>
    <a class="btn btn-primary" href="/home/mojoudi">موجودی</a>
</div>